<!DOCTYPE html>
<html>
<head>
    <title>OpenAI Playground</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/client-styles-test.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}">

</head>
<body>
<!-- <div class="container"> -->

<div class="conversation-history">
    {% for entry in conversation_history %}
        <div class="prompt-box">
            <strong>Prompt:</strong>
            <p>{{ entry.prompt }}</p>
        </div>
        <div class="response-box">
            <strong>Response:</strong>
            <pre>{{ entry.response|safe }}</pre>
            <button class="copy-button">Copy</button>
        </div>
    {% endfor %}
</div>

<div class="form-container">
    <form id="promptForm">
        <textarea id="promptInput" name="prompt" required rows="20"></textarea>
        <button type="submit">Generate</button>
    </form>
    <div id="responseContainer"></div>
</div>

<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<script src="{{ url_for('static', filename='js/codeBlockHandling.js') }}"></script>
<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajaxHandling.js') }}"></script>

</body>
</html>
