<!DOCTYPE html>
<html>
<head>
    <title>OpenAI Playground</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/client-styles-test.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}">

</head>
<body>
<!-- <div class="container"> -->
<div>
    <div class="prompt-box">
        <h3>Prompt:</h3>
        <p>{{ prompt }}</p>
    </div>

    <!-- Code block rendering -->
    <div>
        <pre>{{ code|safe }}</pre>
        <button class="copy-button">Copy</button>
    </div>

    <div class="bottom-container">
        <div class="form-container">
            <textarea class="prompt-input" name="prompt" rows="5" placeholder="Enter prompt"></textarea>
            <button class="generate-button">Generate Code</button>
        </div>

    </div>
</div>

<script>



</script>

<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<script src="{{ url_for('static', filename='js/codeBlockHandling.js') }}"></script>

</body>
</html>
